# Dependencies
node_modules/

# Build outputs
dist/
build/
.next/
.expo/
.turbo/
*.tsbuildinfo

# Env files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Testing / coverage
coverage/
.cache/

# Expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.metro-health-check*

# Mobile build artifacts
ios/
android/
